#navSidebar {
    background: #fff;
    
    border-radius: 5px;
    box-shadow: 0 6px 35px #9c9c9c;
    background-color: white;
    
    margin: 0.25rem
}
/*
#container-div .row {
    height: 80vh;
}
*/
#navSidebar .nav-item a[aria-selected="false"] {
    color: #222;
}

#navSidebar .nav-item a[aria-selected="true"] {
    background: #fc0;
}

#container-div {
    max-width: 90vw;
}


#nav-pills {
    margin-top: 1rem;
    margin-bottom: 1rem;
}