#dashboard-container {
    width: 100%;
    margin: auto;
    
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 6px 35px #9c9c9c;
    background-color: white;

    margin: 0.25rem;
}

.highcharts-navigator-mask-inside {
    fill: rgba(255, 205, 0, 0.3)
}

.highcharts-range-input text {
    fill: #666666 !important;
}

.highcharts-button-pressed .highcharts-button-box {
    fill:rgba(255, 205, 0, 0.3)
}

.highcharts-color-0 path[data-z-index="1"] {
    stroke: blue;
}
.highcharts-color-0 path[stroke-width="2"] {
    stroke: blue
}

.highcharts-color-1 path[data-z-index="1"] {
    stroke: lightblue;
}
.highcharts-color-1 path[stroke-width="2"] {
    stroke:lightblue 
}

.highcharts-color-2 path[data-z-index="1"] {
    stroke: green;
}
.highcharts-color-2 path[stroke-width="2"] {
    stroke:green 
}

.highcharts-color-3 path[data-z-index="1"] {
    stroke: lightgreen;
}
.highcharts-color-3 path[stroke-width="2"] {
    stroke: lightgreen
}