#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100vh;
}

#dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}
